<div class="col-md-3"></div>

	<div class="well panel-default col-md-6">
	  	<div class="panel-heading"><center><h3>Book Ticket</h3></center></div>
	  	<div class="panel-body"><br/>
			<div>
			  <% if current_user %>
				   
				<%= render 'form' %>
			    	
			  <% end %>
			</div>
		</div>	
	</div>