<body class="container">
<style type="text/css">
   body { background: pink }
</style>

<h1>Welcome User</h1>
<p>Book Your Tickets</p>

<form id="booking-form">
    <input type="text" placeholder="from" />->
    <input type="text" placeholder="to" />
    <input type="date" />
    <button>Search</button>
</form>
</body>