<html>
<body class="container">
<style type="text/css">
 #Select{
     height: 30px;
     width: 200px;
     
 }
 #Search{
    height: 30px;
    width: 150px;

 }
 #date{
    height: 30px;
    width: 200px;
 }
 .margin-top{
   margin-top: 120px
 }
 .text-center{
    text: center;
    color: blue;
 }

body { background: pink }
</style>

<div class="margin-top">
   <h1 class="my-3 text-center">Book Your Tickets</h1>

   <%= form_tag(search_path, :method => "get") do %>    
      <div class="input-group">  
      <%= search_field_tag :search2, params[:search2], placeholder: "From", class: "form-control" %> 
   <%= search_field_tag :search1, params[:search1], placeholder: "To", class: "form-control" %> 

   <div class="input-group-btn">  
   <%= button_tag "Search", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>  
   </div> 
   </div>  
   <% end %>
   </form>
</div>

</body>
</html>