<html>
<body class="container">
<style type="text/css">
 #Select{
     height: 30px;
     width: 200px;
     
 }
 #Search{
    height: 30px;
    width: 150px;

 }
 #date{
    height: 30px;
    width: 200px;
 }

body { background: pink }
</style>

<h1>Welcome User</h1>
<p>Book Your Tickets</p>

<div class="booking-form">
<label>From</label>
<input type="text" class="form-control" placeholder="city"
<label>To</label>
<input type="text" class="form-control" placeholder="city"

<div class="input-grp">
<label>Date</label>
<input type="date" class="form-control" select-date">
</div>
</div>

</form>
<button id="myButton" class="float-left submit-button" >Search</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "http://localhost:3000/buses";
    };
</script>

</body>
</html>